### Dictionary in Python

In [3]:
mydict = {'name': 'gaurav', 'age': 36}
print(mydict)
print(type(mydict))

{'name': 'gaurav', 'age': 36}
<class 'dict'>

In [4]:
student = {'name': 'gaurav', 'age': 36, 'name': 'gaurav'}
student

{'name': 'gaurav', 'age': 36}

In [5]:
# accessing dict elements

student = {'name': 'gaurav', 'age': 36, 'grade': 'A'}
student['grade'], student['age']

('A', 36)

In [6]:
# accessing using get method

student.get('grade'), student.get('name')

('A', 'gaurav')

In [7]:
student.get('last_name', 'bhattacharya')

'bhattacharya'

In [9]:
student.get('last_name')
student

{'name': 'gaurav', 'age': 36, 'grade': 'A'}

In [10]:
# modifying dict elements

student = {'name': 'gaurav', 'age': 36, 'grade': 'A'}

student['age'] = 33 
student['address'] = 'India'

student

{'name': 'gaurav', 'age': 33, 'grade': 'A', 'address': 'India'}

In [11]:
del student['name']
student

{'age': 33, 'grade': 'A', 'address': 'India'}

#### Dictionary Methods

In [12]:
keys = student.keys()
values = student.values()

print("Keys of dict: ", keys)
print("Values of dict: ", values)

print("All Keys and values of dict: ", student.items())

Keys of dict:  dict_keys(['age', 'grade', 'address'])
Values of dict:  dict_values([33, 'A', 'India'])
All Keys and values of dict:  dict_items([('age', 33), ('grade', 'A'), ('address', 'India')])

In [13]:
## Shallow Copy

student_copy = student
print(student)
print(student_copy)

{'age': 33, 'grade': 'A', 'address': 'India'}
{'age': 33, 'grade': 'A', 'address': 'India'}

In [14]:
student['name'] = 'grauvm12'
print(student)
print(student_copy)

{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'grauvm12'}
{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'grauvm12'}

In [15]:
student_copy1 = student.copy()
print(student)
print(student_copy)
print(student_copy1)

{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'grauvm12'}
{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'grauvm12'}
{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'grauvm12'}

In [17]:
student['name'] = 'Gaurav Bhattacharya'
print(student)
print(student_copy)
print(student_copy1)

{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'Gaurav Bhattacharya'}
{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'Gaurav Bhattacharya'}
{'age': 33, 'grade': 'A', 'address': 'India', 'name': 'grauvm12'}

In [20]:
# Iteration over dicts

for i, j in student.items():
    print(i, j)

age 33
grade A
address India
name Gaurav Bhattacharya

In [21]:
for i, j in enumerate(student.items()):
    print(i, j)

0 ('age', 33)
1 ('grade', 'A')
2 ('address', 'India')
3 ('name', 'Gaurav Bhattacharya')

In [23]:
# Nested dict

students = {
    "student1": {'name': 'krish', 'age': 32},
    "student2": {'name': 'gaurav', 'age': 35}
}

students

{'student1': {'name': 'krish', 'age': 32},
 'student2': {'name': 'gaurav', 'age': 35}}

In [25]:
print(students["student2"]["name"])
print(students["student2"]["age"])

gaurav
35

In [27]:
# Iteration over nested dict

for i, j in students.items():
    print(i, j)
    for key, value in j.items():
        print(key, value)

student1 {'name': 'krish', 'age': 32}
name krish
age 32
student2 {'name': 'gaurav', 'age': 35}
name gaurav
age 35

#### Dictionary Comprehension

In [28]:
sqs = {x:x**2 for x in range(5)}
print(sqs)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [31]:
even_sqs = {x:x**2 for x in range(10) if x % 2 == 0}
print(even_sqs)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [33]:
numbers = [1,2,3,4,2,3,4,5,6,3,4,5,3]

freq = {}

for num in numbers:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1

print(freq)

{1: 1, 2: 2, 3: 4, 4: 3, 5: 2, 6: 1}

#### Merge 2 dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

In [35]:
merged_dict = {**dict1, **dict2}
merged_dict

{'a': 1, 'b': 3, 'c': 4}