### Set in Python

In [3]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [7]:
set1 = {2,4,5,6,7,'str', 3.14}
print(set1)
print(type(set1))

{2, 3.14, 4, 5, 6, 7, 'str'}
<class 'set'>

In [8]:
set2 = {2,4,5,6,7,'str', 3.14, 7, 'str', 'list', 2}
print(set2)

{2, 3.14, 4, 5, 6, 7, 'str', 'list'}

#### Basic Set Operations

In [9]:
my_set = {1, 2, 3, 4, 5}

In [13]:
# Add element

my_set.add(7)
my_set

{1, 2, 3, 4, 5, 7}

In [12]:
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 7}

In [14]:
# Remove element

my_set.remove(3)
my_set

{1, 2, 4, 5, 7}

In [15]:
my_set.discard(10)
my_set

{1, 2, 4, 5, 7}

In [16]:
# pop 

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [17]:
# clear 
my_set.clear()
my_set

set()

In [18]:
# Set Membership Test

myset = {1, 2, 3, 4, 5}

print(3 in myset)
print(10 in myset)

True
False

In [23]:
# Math Operation

set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

# union
unionset = set1.union(set2)
print("Union Set: ", unionset)

# intersection
intersect = set1.intersection(set2)
print("Intersection Set: ", intersect)

set1.intersection_update(set2)
print(set1)

Union Set:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection Set:  {4, 5, 6}
{4, 5, 6}

In [28]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

# difference
print("Difference: ", set1.difference(set2))

# symmetric difference
print("Symmetric difference: ", set1.symmetric_difference(set2))

Difference:  {1, 2, 3}
Symmetric difference:  {1, 2, 3, 7, 8, 9}

In [ ]:
# Sets Method

set1 = {1, 2, 3}
set2 = {3, 4, 5}

# is subset
set1.issubset(set2)

False

In [32]:
# superset
set1.issuperset(set2)

False

In [33]:
lst = [1, 2, 3, 4, 5, 2]

set(lst)

{1, 2, 3, 4, 5}

In [34]:
# Count unique words in text

text = "In this tutorial we are discussing about sets"
words = text.split()

# convert list of words to set
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'tutorial', 'this', 'are', 'discussing', 'about', 'In', 'we', 'sets'}
8