### Tuples in Python

In [11]:
mytuple = (1, 2, 'str', [1, 2])
print(mytuple)
print(type(mytuple))

(1, 2, 'str', [1, 2])
<class 'tuple'>

In [12]:
lst = list()
print(type(lst))

<class 'list'>

In [13]:
tpl = tuple()
print(type(tpl))

<class 'tuple'>

In [14]:
numbers = tuple([1, 2, 3, 4, 5])
print(numbers)

(1, 2, 3, 4, 5)

In [15]:
num_lst = list(numbers)
num_lst

[1, 2, 3, 4, 5]

In [16]:
# Accessing tuple elements

numbers[0]

1

In [17]:
numbers[-1]

5

In [18]:
numbers[0:4]

(1, 2, 3, 4)

In [19]:
numbers[::-1]

(5, 4, 3, 2, 1)

#### Tuples Operations

In [20]:
con_tupl = numbers + mytuple 
print(con_tupl)

(1, 2, 3, 4, 5, 1, 2, 'str', [1, 2])

In [21]:
mytuple * 3

(1, 2, 'str', [1, 2], 1, 2, 'str', [1, 2], 1, 2, 'str', [1, 2])

In [22]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [23]:
lst = [1, 2, 3, 4, 5]
lst[0]

1

In [24]:
lst[1] = 'krish'
lst

[1, 'krish', 3, 4, 5]

In [25]:
mytuple = (1, 2, 3, 4, 5)
mytuple[1]

2

In [26]:
mytuple[1] = 'krish'
mytuple

TypeError: 'tuple' object does not support item assignment

#### Tuple Methods

In [29]:
print(numbers)

(1, 2, 3, 4, 5)

In [30]:
print(numbers.count(1))
print(numbers.index(3))

1
2

#### Packing & Unpacking Tuples

In [32]:
# Packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [33]:
# Unpacking
a, b, c = packed_tuple
print(a, b, c)

1 Hello 3.14

In [34]:
# unpacking with *
numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers 
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [39]:
# Nested Tuple

lst = [[1,2,3],[4,5,6],[7,8,9], ['hello', 3.14, 'c']]
print(lst[0])

print(lst[3][0:3])

[1, 2, 3]
['hello', 3.14, 'c']

In [43]:
mytup = ((1,2,3),(4,5,6),(7,8,9), ('hello', 3.14, 'c'), (True, False))
print(mytup[0])

print(mytup[3][0:3])

(1, 2, 3)
('hello', 3.14, 'c')

In [46]:
# iterating over nested tuple

for sub_tuple in mytup:
    for item in sub_tuple:
        print(item, end=", ")
    print()

1, 2, 3,
4, 5, 6,
7, 8, 9,
hello, 3.14, c,
True, False,