### Variables in Python

In [1]:
a = 100
print(a)

100

In [2]:
# Declaring and assigning variables

age = 32
height = 6.1
name = "Gaurav"
is_student = True

print(f"Age:", age)
print(f"Height: ", height)
print(f"Name: ", name)

Age: 32
Height:  6.1
Name:  Gaurav

In [4]:
first_name = "Gaurav"
last_name = "Bhattacharya"

full_name = first_name + ' ' + last_name

print(full_name)

Gaurav Bhattacharya

In [5]:
# Variable Types 

age = 25
height = 6.1 
name = "Gaurav"
is_student = True 

print(f"Type of {age}: ", type(age))
print(f"Type of {height}: ", type(height))
print(f"Type of {name}: ", type(name))
print(f"Type of {is_student}: ", type(is_student))

Type of 25:  <class 'int'>
Type of 6.1:  <class 'float'>
Type of Gaurav:  <class 'str'>
Type of True:  <class 'bool'>

In [6]:
# Type Checking and Conversion

age = 25 
print(type(age))

# Type Conversion

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [7]:
name = "Gaurav"
int(name)

ValueError: invalid literal for int() with base 10: 'Gaurav'

In [8]:
height = 6.1 
int(height)

6

In [9]:
float(int(height))

6.0

In [10]:
# Dynamic Typing 

var = 10
print(var, type(var))

var = "hello"
print(var, type(var))

10 <class 'int'>
hello <class 'str'>

In [11]:
print(var)

hello

In [14]:
# Input 

age = input("What is the age ?")
print(age, type(age))

# Type Cast

age = int(input("What is the age ?"))
print(age, type(age))

23 <class 'str'>
23 <class 'int'>