### Loops in Python

#### For Loop

In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [10]:
str = "Gaurav"

for i in str:
    print(i)

G
a
u
r
a
v

#### While Loop

In [11]:
count = 0 

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [13]:
# Loop Control Statements

# Break

for i in range(10):
    if i == 5:
        break 
    print(i)

0
1
2
3
4

In [16]:
# Continue 

for i in range(10):
    if i % 2 == 0:
        continue 
    print(i)

1
3
5
7
9

In [19]:
# Pass 

for i in range(5):
    if i == 3:
        print("The num is", i)
        pass
    print(i)

0
1
2
The num is 3
3
4

#### Nested Loops

In [20]:
for i in range(3):
    for j in range(2):
        print(f"i: {i} and j: {j}")

i: 0 and j: 0
i: 0 and j: 1
i: 1 and j: 0
i: 1 and j: 1
i: 2 and j: 0
i: 2 and j: 1

In [23]:
sum = 0
n = 10 
count = 0

while count <= n:
    sum = sum + count 
    count = count + 1

print("Sum of first 10 natural numbers:", sum)

Sum of first 10 natural numbers: 55

In [25]:
sum = 0
n = 10 
count = 0

for i in range(11):
    sum = sum + i

print("Sum of first 10 natural numbers:", sum)

Sum of first 10 natural numbers: 55

In [28]:
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97