### Map and Filter Functions in Python

In [1]:
def square(num):
    return num**2 

square(4)

16

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]

#### Map Function - map()

In [3]:
sq_list = list(map(lambda x: x**2, nums))
sq_list

[1, 4, 9, 16, 25, 36, 49, 64]

In [4]:
sq_lst2 = list(map(square, nums))
sq_lst2

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
# Map multiple iterables

num1 = [1, 2, 3]
num2 = [4, 5, 6]

add = list(map(lambda x, y: x + y, num1, num2))
add

[5, 7, 9]

In [6]:
# map() to convert list of strings to int

str_nums = ['1', '2', '3', '4']
int_nums = list(map(int, str_nums))
int_nums

[1, 2, 3, 4]

In [7]:
words = ['apple', 'banana', 'cherry']

up_words = list(map(lambda x: x.upper(), words))
up_words

['APPLE', 'BANANA', 'CHERRY']

In [12]:
people = [{'name': 'krish', 'age': 32},
{'name': 'jack', 'age': 33}]

name_lst = list(map(lambda x: x['name'], people))
name_lst

['krish', 'jack']

In [13]:
age_lst = list(map(lambda x: x['age'], people))
age_lst

[32, 33]

In [16]:
lst3 = list(map(lambda x: (x['name'], x['age']), people))
lst3

[('krish', 32), ('jack', 33)]

#### Filter function - filter()

In [17]:
def even(num):
    if num % 2 == 0:
        return True

In [18]:
even(24)

True

In [19]:
import random

In [21]:
lst = [random.randint(0, 75) for _ in range(15)]
lst

[47, 55, 38, 73, 16, 32, 12, 35, 34, 50, 18, 71, 35, 36, 22]

In [22]:
even_lst = list(filter(lambda x: x % 2 == 0, lst))
even_lst

[38, 16, 32, 12, 34, 50, 18, 36, 22]

In [23]:
fruits = ["apple", "banana", "cherry", "date", "grape"]

a_fruits = list(filter(lambda x: x.startswith('a'), fruits))
a_fruits

['apple']

In [25]:
even_lst2 = list(filter(even, lst))
even_lst2

[38, 16, 32, 12, 34, 50, 18, 36, 22]

In [28]:
# Filter with multiple conditions

even_and_greater_than_30 = list(filter(lambda x: x % 2 == 0 and x >30, lst))
even_and_greater_than_30

[38, 32, 34, 50, 36]

In [31]:
starts_with_or_contains_r = list(filter(lambda x: x.startswith('a') or 'r' in x, fruits))
starts_with_or_contains_r

['apple', 'cherry', 'grape']

In [36]:
people_dict = {
    'Krish': 32,
    'Jack': 20,
    'Alice': 21,
    'Bob': 45, 
    'Gaurav': 35
}

In [38]:
lst1 = list(filter(lambda x: people_dict[x] > 25, people_dict))

lst1

['Krish', 'Bob', 'Gaurav']

In [43]:
people = [{'name': 'krish', 'age': 32},
{'name': 'jack', 'age': 33},
{'name': 'john', 'age': 15}]

In [44]:
lst2 = list(filter(lambda x: x['age'] > 25, people))
lst2

[{'name': 'krish', 'age': 32}, {'name': 'jack', 'age': 33}]